<center><h1 style="text-decoration: underline;">Vodafone Customer Churn Prediction</h1></center>

##### <h2 style="text-decoration: underline;">Project Scenario</h2>

Every company wants to increase its profit or revenue margin and customer retention is one key area industry players focus their resources. In today's world of machine learning, most companies build classification models to perform churn analysis on their customers. 

Classification in machine learning and statistics is a supervised learning approach in which the computer program learns from the data given to it and makes new observations or classifications. The main goal is to identify which class/category the new data will fall into. 

For example, we can classify a bank transaction into Fraud or Non - Fraud category or an email into Spam or Non - Spam.

##### <h3 style="text-decoration: underline;">Business Understanding</h3>

***Objective:***

The primary objective of this project is to develop a classification model for churn analysis to aid in customer retention efforts. Churn analysis focuses on predicting whether customers are likely to leave or continue their relationship with the company. By identifying customers at risk of churning, the company can take proactive measures to retain them, thus increasing revenue and profit margins.

***Background:***

In today's competitive b**usiness landscape, customer retention is paramount for sustaining profitability and growth. Retaining existing customers is often more cost-effective than acquiring new ones. Churn analysis leverages machine learning and statistical techniques to predict customer behavior and identify potential churners before they defect to competitors.

***Data Description:***

The project will utilize historical data encompassing various customer attributes, transactional details, and behavioral patterns. These may include demographic information, purchase history, engagement metrics, customer service interactions, and any other relevant data points. The dataset will be sufficiently large and diverse to capture the complexities of customer behavior across different segments.

***Methodology:***

The project will employ a supervised learning approach, specifically classification algorithms, to train predictive models. These models will learn from past instances of churn and non-churn events to classify new customers accordingly. Various classification algorithms such as logistic regression, decision trees, random forests, and gradient boosting will be explored to identify the most effective model for the given dataset.

***Key Deliverables:***

1. Churn Prediction Model: A robust machine learning model capable of accurately predicting customer churn based on input features.
2. Feature Importance Analysis: Identification of the most influential factors driving churn, providing actionable insights for targeted retention strategies.
3. Model Evaluation: Rigorous evaluation of model performance using appropriate metrics such as accuracy, precision, recall, and F1-score. The model will be validated using techniques like cross-validation and holdout validation to ensure generalizability.
4. Deployment Strategy: Recommendations for integrating the churn prediction model into the company's existing systems or workflows for real-time monitoring and intervention.

***Expected Outcomes:***

By leveraging the insights gained from the churn analysis model, the company expects to:

- Proactively identify customers at risk of churn.
- Tailor retention strategies and incentives to address specific customer needs and pain points.
- Optimize resource allocation by focusing retention efforts on high-value customers with the highest churn propensity.
- Ultimately, improve overall customer retention rates, thereby enhancing long-term profitability and competitiveness in the market.

***Conclusion:***

Churn analysis represents a strategic initiative aimed at leveraging data-driven insights to mitigate customer attrition and foster long-term loyalty. By harnessing the power of classification models, the company endeavors to enhance customer retention efforts, drive sustainable revenue growth, and maintain a competitive edge in the dynamic marketplace.


##### <h3 style="text-decoration: underline;">Hypothesis Testing</h3>
##### Hypothesis 1

***Null Hypothesis(Ho)***: Customers with longer tenure (number of months stayed with the company) are more likely to churn compared to new customers.

***Alternative Hypothesis(Ha)***: Customers with longer tenure (number of months stayed with the company) are less likely to churn compared to new customers.

##### Hypothesis 2

Null Hypothesis (Ho): Customers with higher monthly charges (MonthlyCharges) are more likely to churn due to cost considerations.

Alternative Hypothesis (Ha): Customers with higher monthly charges (MonthlyCharges) are less likely to churn due to cost considerations.

##### <h4 style="text-decoration: underline;">Business Questions</h4>
1. What is the average tenure of customers who churned compared to those who stayed?
2. Do customers with partners or dependents have a lower churn rate?
3. How does the presence of multiple lines affect customer churn?
4. Is there a correlation between the contract term (Contract) and customer churn?
5. What are the common payment methods (Payment Method) among customers who churned?
6. How does the availability of tech-related services (e.g., OnlineSecurity, TechSupport) impact churn rates?
7. What percentage of customers who churned had streaming services (StreamingTV, StreamingMovies)?
8. Is there a difference in churn rates between senior citizens and non-senior citizens?
9. How does the total amount charged to customers (TotalCharges) correlate with churn behavior?
10. How does the contract affect churn rates?

#### ***Import necessary libraries***

In [2]:
from dotenv import dotenv_values 
import pyodbc 
import numpy as np
import pandas as pd                          
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')

print("ðŸ›¬ Imported all packages.", "Warnings hidden. ðŸ‘»")

ðŸ›¬ Imported all packages. Warnings hidden. ðŸ‘»

#### Step 2 - Data Understanding
#####
The data for this project is in differnt files and will be loaded into the notebook. The following describes the columns present in the data.

Gender -- Whether the customer is a male or a female

SeniorCitizen -- Whether a customer is a senior citizen or not

Partner -- Whether the customer has a partner or not (Yes, No)

Dependents -- Whether the customer has dependents or not (Yes, No)

Tenure -- Number of months the customer has stayed with the company

Phone Service -- Whether the customer has a phone service or not (Yes, No)

MultipleLines -- Whether the customer has multiple lines or not

InternetService -- Customer's internet service provider (DSL, Fiber Optic, No)

OnlineSecurity -- Whether the customer has online security or not (Yes, No, No Internet)

OnlineBackup -- Whether the customer has online backup or not (Yes, No, No Internet)

DeviceProtection -- Whether the customer has device protection or not (Yes, No, No internet service)

TechSupport -- Whether the customer has tech support or not (Yes, No, No internet)

StreamingTV -- Whether the customer has streaming TV or not (Yes, No, No internet service)

StreamingMovies -- Whether the customer has streaming movies or not (Yes, No, No Internet service)

Contract -- The contract term of the customer (Month-to-Month, One year, Two year)

PaperlessBilling -- Whether the customer has paperless billing or not (Yes, No)

Payment Method -- The customer's payment method (Electronic check, mailed check, Bank transfer(automatic), Credit card(automatic))

MonthlyCharges -- The amount charged to the customer monthly

TotalCharges -- The total amount charged to the customer

Churn -- Whether the customer churned or not (Yes or No)

#### First Dataset
By using Python's dotenv with a .env file to safely fetch the first dataset from a SQL database into the notebook. This keeps the database credentials private while allowing easy access to the data for analysis.

In [3]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

In [4]:
# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [7]:
# Use the connect method of the pyodbc library and pass in the connection string.
connection = pyodbc.connect(connection_string)

In [8]:
# Sql query to get the 2020 data
query = "Select * FROM LP2_Telco_churn_first_3000"
First_Dataset = pd.read_sql(query, connection)

In [9]:
#Save file to csv
# First_Dataset.to_csv('DataSets\LP2_Telco_churn_first_3000.csv', index=False)

In [10]:
# Preview of the first Data set 
First_Dataset.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True

In [11]:
First_Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   bool
 3   Partner           3000 non-null   bool
 4   Dependents        3000 non-null   bool
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   bool
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   bool
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 389.8+ KB

#### Second Dataset
Now, obtaining the second dataset from a GitHub repository, and use Pandas to import the CSV file into the notebook for analysis.

In [12]:
# Loading the second dataset into the notebook
Second_Dataset = pd.read_csv(r"DataSets/LP2_Telco-churn-second-2000.csv")

In [13]:
Second_Dataset.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,...,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.50,312.7,No
1,8292-TYSPY,Male,0,No,No,19,Yes,No,DSL,No,...,Yes,Yes,No,No,Month-to-month,Yes,Credit card (automatic),55.00,1046.5,Yes
2,0567-XRHCU,Female,0,Yes,Yes,69,No,No phone service,DSL,Yes,...,Yes,No,No,Yes,Two year,Yes,Credit card (automatic),43.95,2960.1,No

In [14]:
Second_Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2043 non-null   object
 1   gender            2043 non-null   object
 2   SeniorCitizen     2043 non-null   int64
 3   Partner           2043 non-null   object
 4   Dependents        2043 non-null   object
 5   tenure            2043 non-null   int64
 6   PhoneService      2043 non-null   object
 7   MultipleLines     2043 non-null   object
 8   InternetService   2043 non-null   object
 9   OnlineSecurity    2043 non-null   object
 10  OnlineBackup      2043 non-null   object
 11  DeviceProtection  2043 non-null   object
 12  TechSupport       2043 non-null   object
 13  StreamingTV       2043 non-null   object
 14  StreamingMovies   2043 non-null   object
 15  Contract          2043 non-null   object
 16  PaperlessBilling  2043 non-null   object
 17  PaymentMethod     2043 non-null   object
 18  MonthlyCharges    2043 non-null   float64
 19  TotalCharges      2043 non-null   object
 20  Churn             2043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 335.3+ KB

#### Third Dataset
Finally, obtaining the third dataset from a OneDrive file, and use Pandas to import the Excel file into the notebook for analysis.

In [15]:
# Loading the second dataset into the notebook
Third_Dataset = pd.read_excel(r"DataSets/Telco-churn-last-2000.xlsx")

In [16]:
Third_Dataset.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7613-LLQFO,Male,0,No,No,12,Yes,Yes,Fiber optic,No,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.45,1059.55
1,4568-TTZRT,Male,0,No,No,9,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.40,181.8
2,9513-DXHDA,Male,0,No,No,27,Yes,No,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,No,Electronic check,81.70,2212.55

In [17]:
Third_Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2000 non-null   object
 1   gender            2000 non-null   object
 2   SeniorCitizen     2000 non-null   int64
 3   Partner           2000 non-null   object
 4   Dependents        2000 non-null   object
 5   tenure            2000 non-null   int64
 6   PhoneService      2000 non-null   object
 7   MultipleLines     2000 non-null   object
 8   InternetService   2000 non-null   object
 9   OnlineSecurity    2000 non-null   object
 10  OnlineBackup      2000 non-null   object
 11  DeviceProtection  2000 non-null   object
 12  TechSupport       2000 non-null   object
 13  StreamingTV       2000 non-null   object
 14  StreamingMovies   2000 non-null   object
 15  Contract          2000 non-null   object
 16  PaperlessBilling  2000 non-null   object
 17  PaymentMethod     2000 non-null   object
 18  MonthlyCharges    2000 non-null   float64
 19  TotalCharges      2000 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 312.6+ KB

##### Now, checking if the first and second Dataset have the same column names for easy concatenation.

In [18]:
# Get the column names from each DataFrame
columns_First_Dataset = set(First_Dataset.columns)
columns_Second_Dataset = set(Second_Dataset.columns)

# Check if all DataFrames have the same column names
if columns_First_Dataset == columns_Second_Dataset:
    print("All DataFrames have the same column names.")
else:
    print("Not all DataFrames have the same column names.")

All DataFrames have the same column names.

Next, concatenating the first and second Dataset to prepare them for analysis and training

In [19]:
train_df = pd.concat([First_Dataset, Second_Dataset], ignore_index=True)

In [35]:
#Save file to csv
# train_df.to_csv('DataSets\Final_Dataset\Final_Datasets.csv', index=False)

In [20]:
train_df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.85,False
1,5575-GNVDE,Male,0,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.5,False
2,3668-QPYBK,Male,0,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True

In [21]:
# Change all column names to lowercase
train_df.columns = train_df.columns.str.lower()

In [22]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerid        5043 non-null   object
 1   gender            5043 non-null   object
 2   seniorcitizen     5043 non-null   int64
 3   partner           5043 non-null   object
 4   dependents        5043 non-null   object
 5   tenure            5043 non-null   int64
 6   phoneservice      5043 non-null   object
 7   multiplelines     4774 non-null   object
 8   internetservice   5043 non-null   object
 9   onlinesecurity    4392 non-null   object
 10  onlinebackup      4392 non-null   object
 11  deviceprotection  4392 non-null   object
 12  techsupport       4392 non-null   object
 13  streamingtv       4392 non-null   object
 14  streamingmovies   4392 non-null   object
 15  contract          5043 non-null   object
 16  paperlessbilling  5043 non-null   object
 17  paymentmethod     5043 non-null   object
 18  monthlycharges    5043 non-null   float64
 19  totalcharges      5038 non-null   object
 20  churn             5042 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 827.5+ KB

##### After the concatnation we will have to check if there is a null values in our concatnated dataset

In [23]:
train_df.isnull().sum()

customerid            0
gender                0
seniorcitizen         0
partner               0
dependents            0
tenure                0
phoneservice          0
multiplelines       269
internetservice       0
onlinesecurity      651
onlinebackup        651
deviceprotection    651
techsupport         651
streamingtv         651
streamingmovies     651
contract              0
paperlessbilling      0
paymentmethod         0
monthlycharges        0
totalcharges          5
churn                 1
dtype: int64

In [24]:
#Checking  for unique values in all the columns
cols= [ 'customerid', 'gender', 'seniorcitizen', 'partner', 'dependents',
       'tenure', 'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod', 'monthlycharges', 'totalcharges', 'churn']


results = []

for i in cols:
    
    unique_values = train_df[i].unique()
    num_unique_values = train_df[i].nunique()
    
    
    results.append([i, unique_values, num_unique_values])


results_df = pd.DataFrame(results, columns=['Column', 'Unique_Values', 'Num_Unique_Values'])


results_df

,Column,Unique_Values,Num_Unique_Values
0,customerid,"[7590-VHVEG, 5575-GNVDE, 3668-QPYBK, 7795-CFOC...",5043
1,gender,"[Female, Male]",2
2,seniorcitizen,"[0, 1]",2
3,partner,"[True, False, No, Yes]",4
4,dependents,"[False, True, No, Yes]",4
5,tenure,"[1, 34, 2, 45, 8, 22, 10, 28, 62, 13, 16, 58, ...",73
6,phoneservice,"[False, True, Yes, No]",4
7,multiplelines,"[None, False, True, No, No phone service, Yes]",5
8,internetservice,"[DSL, Fiber optic, No]",3
9,onlinesecurity,"[False, True, None, No, Yes, No internet service]",5
10,onlinebackup,"[True, False, None, No, Yes, No internet service]",5
11,deviceprotection,"[False, True, None, No, Yes, No internet service]",5
12,techsupport,"[False, True, None, Yes, No, No internet service]",5
13,streamingtv,"[False, True, None, No, Yes, No internet service]",5
14,streamingmovies,"[False, True, None, No, Yes, No internet service]",5
15,contract,"[Month-to-month, One year, Two year]",3
16,paperlessbilling,"[True, False, Yes, No]",4
17,paymentmethod,"[Electronic check, Mailed check, Bank transfer...",4
18,monthlycharges,"[29.850000381469727, 56.95000076293945, 53.849...",2069
19,totalcharges,"[29.850000381469727, 1889.5, 108.1500015258789...",4884
20,churn,"[False, True, None, No, Yes]",4

To ensure consistent and uniform data entry, we have to standardize certain columns by replacing all occurrences of False with No and all occurrences of True with Yes. This process helps maintain clarity and consistency in the data, making it easier to interpret and analyze.

In [25]:
# Define the mapping for standardization
standardize_mapping = {
    'No phone service': 'No',
    'No internet service': 'No',
    True: 'Yes',
    False: 'No',
    'None': pd.NA,
    'none': pd.NA
}

# Columns to perform standardization
cols_to_standardize = ['onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
                       'streamingtv', 'streamingmovies', 'paperlessbilling', 'churn',
                       'phoneservice', 'multiplelines', 'partner', 'dependents']

# Loop through columns for standardization
for col in cols_to_standardize:
    if train_df[col].dtype == 'object':
        train_df[col] = train_df[col].replace(standardize_mapping)

# Show the updated DataFrame
train_df.head(3)

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,None,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.850000,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.950001,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.849998,108.150002,Yes

Handling Missing Values: To address missing values in specific columns, check for null values and filled them by randomly selecting a value from each column with missing data.

In [26]:
train_df.isnull().sum()

customerid            0
gender                0
seniorcitizen         0
partner               0
dependents            0
tenure                0
phoneservice          0
multiplelines       269
internetservice       0
onlinesecurity      651
onlinebackup        651
deviceprotection    651
techsupport         651
streamingtv         651
streamingmovies     651
contract              0
paperlessbilling      0
paymentmethod         0
monthlycharges        0
totalcharges          5
churn                 1
dtype: int64

In [27]:
# Columns with null values
cols = ['multiplelines', 'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
        'streamingtv', 'streamingmovies', 'totalcharges', 'churn']

# Loop through each column and fill missing values with random values
for col in cols:
    # Retrieve non-null values for the current column
    non_null_values = train_df[col].dropna()
    # Generate a random value based on the distribution of non-null values
    random_value = np.random.choice(non_null_values)
    # Fill missing values in the current column with the random value
    train_df[col].fillna(value=random_value, inplace=True)

In [28]:
# Confirming the changes after cleaning and filling missing values
#Check for uniques
cols= [ 'customerid', 'gender', 'seniorcitizen', 'partner', 'dependents',
       'tenure', 'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod', 'monthlycharges', 'totalcharges', 'churn']


results = []

for i in cols:
    
    unique_values = train_df[i].unique()
    num_unique_values = train_df[i].nunique()
    
    
    results.append([i, unique_values, num_unique_values])


results_df = pd.DataFrame(results, columns=['Column', 'Unique_Values', 'Num_Unique_Values'])


results_df

,Column,Unique_Values,Num_Unique_Values
0,customerid,"[7590-VHVEG, 5575-GNVDE, 3668-QPYBK, 7795-CFOC...",5043
1,gender,"[Female, Male]",2
2,seniorcitizen,"[0, 1]",2
3,partner,"[Yes, No]",2
4,dependents,"[No, Yes]",2
5,tenure,"[1, 34, 2, 45, 8, 22, 10, 28, 62, 13, 16, 58, ...",73
6,phoneservice,"[No, Yes]",2
7,multiplelines,"[No, Yes]",2
8,internetservice,"[DSL, Fiber optic, No]",3
9,onlinesecurity,"[No, Yes]",2
10,onlinebackup,"[Yes, No]",2
11,deviceprotection,"[No, Yes]",2
12,techsupport,"[No, Yes]",2
13,streamingtv,"[No, Yes]",2
14,streamingmovies,"[No, Yes]",2
15,contract,"[Month-to-month, One year, Two year]",3
16,paperlessbilling,"[Yes, No]",2
17,paymentmethod,"[Electronic check, Mailed check, Bank transfer...",4
18,monthlycharges,"[29.850000381469727, 56.95000076293945, 53.849...",2069
19,totalcharges,"[29.850000381469727, 1889.5, 108.1500015258789...",4884
20,churn,"[No, Yes]",2

Checking the dataset again

In [29]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerid        5043 non-null   object
 1   gender            5043 non-null   object
 2   seniorcitizen     5043 non-null   int64
 3   partner           5043 non-null   object
 4   dependents        5043 non-null   object
 5   tenure            5043 non-null   int64
 6   phoneservice      5043 non-null   object
 7   multiplelines     5043 non-null   object
 8   internetservice   5043 non-null   object
 9   onlinesecurity    5043 non-null   object
 10  onlinebackup      5043 non-null   object
 11  deviceprotection  5043 non-null   object
 12  techsupport       5043 non-null   object
 13  streamingtv       5043 non-null   object
 14  streamingmovies   5043 non-null   object
 15  contract          5043 non-null   object
 16  paperlessbilling  5043 non-null   object
 17  paymentmethod     5043 non-null   object
 18  monthlycharges    5043 non-null   float64
 19  totalcharges      5043 non-null   object
 20  churn             5043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 827.5+ KB

In [30]:
train_df.isna().sum()

customerid          0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

We now have a dataset with no missing values

Now, Using the Label Encoder to encode categorical columns

In [31]:
# Initialize LabelEncoder
label_encoder = LabelEncoder()

# List of columns to encode
columns_to_encode = ['gender', 'partner', 'dependents',
                     'phoneservice', 'multiplelines', 'internetservice',
                     'onlinesecurity', 'onlinebackup', 'deviceprotection',
                     'techsupport', 'streamingtv', 'streamingmovies',
                     'contract', 'paperlessbilling', 'paymentmethod', 'churn']

# Encode each column
for col in columns_to_encode:
    train_df[col + '_encoded'] = label_encoder.fit_transform(train_df[col])

train_df.head()

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,onlinesecurity_encoded,onlinebackup_encoded,deviceprotection_encoded,techsupport_encoded,streamingtv_encoded,streamingmovies_encoded,contract_encoded,paperlessbilling_encoded,paymentmethod_encoded,churn_encoded
0,7590-VHVEG,Female,0,Yes,No,1,No,No,DSL,No,...,0,1,0,0,0,0,0,1,2,0
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,1,0,1,0,0,0,1,0,3,0
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,1,1,0,0,0,0,0,1,3,1
3,7795-CFOCW,Male,0,No,No,45,No,No,DSL,Yes,...,1,0,1,1,0,0,1,0,0,0
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,0,0,0,0,0,0,0,1,2,1

In [32]:
train_df.describe().T

,count,mean,std,min,25%,50%,75%,max
seniorcitizen,5043.0,0.162403,0.368857,0.0,0.000,0.000000,0.000000,1.000000
tenure,5043.0,32.576641,24.529807,0.0,9.000,29.000000,56.000000,72.000000
monthlycharges,5043.0,65.090214,30.068133,18.4,35.775,70.550003,90.050003,118.650002
gender_encoded,5043.0,0.507436,0.499994,0.0,0.000,1.000000,1.000000,1.000000
partner_encoded,5043.0,0.487408,0.499891,0.0,0.000,0.000000,1.000000,1.000000
dependents_encoded,5043.0,0.309538,0.462349,0.0,0.000,0.000000,1.000000,1.000000
phoneservice_encoded,5043.0,0.903034,0.295941,0.0,1.000,1.000000,1.000000,1.000000
multiplelines_encoded,5043.0,0.422368,0.493985,0.0,0.000,0.000000,1.000000,1.000000
internetservice_encoded,5043.0,0.874083,0.733816,0.0,0.000,1.000000,1.000000,2.000000
onlinesecurity_encoded,5043.0,0.288717,0.453211,0.0,0.000,0.000000,1.000000,1.000000
onlinebackup_encoded,5043.0,0.343446,0.474906,0.0,0.000,0.000000,1.000000,1.000000
deviceprotection_encoded,5043.0,0.345826,0.475684,0.0,0.000,0.000000,1.000000,1.000000
techsupport_encoded,5043.0,0.295657,0.456383,0.0,0.000,0.000000,1.000000,1.000000
streamingtv_encoded,5043.0,0.514773,0.499831,0.0,0.000,1.000000,1.000000,1.000000
streamingmovies_encoded,5043.0,0.522110,0.499560,0.0,0.000,1.000000,1.000000,1.000000
contract_encoded,5043.0,0.702558,0.838133,0.0,0.000,0.000000,1.000000,2.000000
paperlessbilling_encoded,5043.0,0.594091,0.491116,0.0,0.000,1.000000,1.000000,1.000000
paymentmethod_encoded,5043.0,1.561372,1.067696,0.0,1.000,2.000000,2.000000,3.000000
churn_encoded,5043.0,0.265120,0.441441,0.0,0.000,0.000000,1.000000,1.000000

In [34]:
train_df.plot(kind='scatter')

ValueError: scatter requires an x and y column